<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.coffehouse">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MuaHang2"></activity>
        <activity android:name=".TinTuc.ChucNang.Coupon" />
        <activity android:name=".TinTuc.ChucNang.TichDiem" />
        <activity android:name=".TinTuc.ThongBao.DanhDauThongBao" />
        <activity android:name=".TinTuc.ThongBao.ThongBao1" />
        <activity android:name=".TinTuc.CauChuyen.CauChuyen3" />
        <activity android:name=".TinTuc.CauChuyen.CauChuyen2" />
        <activity android:name=".TinTuc.CauChuyen.CauChuyen1" />
        <activity android:name=".TinTuc.CapNhat.CapNhat3" />
        <activity android:name=".TinTuc.CapNhat.CapNhat2" />
        <activity android:name=".TinTuc.CapNhat.CapNhat1" />
        <activity android:name=".TinTuc.Uudai.Uudai2" />
        <activity android:name=".MuaHang" />
        <activity android:name=".TinTuc.Uudai.Uudai1" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDAqUwcN07tioAGQJ-qOvL7fk0X2uZmZpk" />

        <activity android:name=".TaiKhoan.ThongTinThanhVien.XemThongTinThanhVien" />
        <activity android:name=".TaiKhoan.ThongTinCaNhan.SuaThongTin" />
        <activity android:name=".TaiKhoan.ThongTinCaNhan.XemThongTinCaNhan" />
        <activity android:name=".MainActivity" />
        <activity android:name=".KhoiDong">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>